$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
@import "~font-awesome/scss/font-awesome.scss";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:light');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// MDBootstrap
@import '~mdbootstrap/scss/mdb';

// Datatable
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";

// colors
$red: #c62828;
$light_grey: #f5f5f5;
$dark_grey: #2e2e2e;
$blue: #1a698b;

//fonts


$font-text: "Open Sans", sans-serif;
$font-text-light :"Open Sans Light", sans-serif;
$font-titre: "Lato Thin", sans-serif;
$font-sous-titre: "Montserrat", sans-serif;

//navbar

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

#navbarSearchForm .waves-input-wrapper {
  width: 100%;
}

.atable, .navbar li, .navbar input{
  font-family:  $font-text-light;
  letter-spacing: 0.1em;
}

.titre_first_letter{
  color: $red;
}

.navbar-dark  .navbar-nav .nav-link{
  color: $light_grey;
  margin: 0 10px;
}

.active-red-2 input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid $red     ;
  box-shadow: 0 1px 0 0 $red    ;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus{
  color: $red;
}

.lien_nav{
  white-space: nowrap;
}

//main

main{
  background-image: url("/img/image_fond.jpg");
  background-size: cover;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Montserrat;
}

#app {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.z-depth-1-top{
  -moz-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  -webkit-box-shadow:0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
}

section{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}

//affichage recette

.etape{
  text-align: left;
  padding-left: 3em;
  padding-top: 2em;
  h2{
    font-family: Montserrat, sans-serif;
    font-size: 1em;
  }
  p{
    font-family: $font-text;
  }
  hr{
    width: 25%;
    border-top : 2px solid $red;
  }
}

.ingredients{
  h2 {
    font-family: $font-sous-titre;
    font-size: 1em;
  }
  td{
    font-family: $font-text;
    font-size: 0.7em;
  }
}

.auteur{
  font-style: oblique;
  color: $red;
}

.details_recette_jour{
  font-size: 0.8em;
}

.titre_categorie{
  font-family: $font-titre;
  font-size: 2em;
  color: $blue;
}



.edit_button{
  border : none;
  background-color: transparent;
}

.fa-edit{
  color: $red;
  font-size: 1.5em;
}

.edit_button:focus{
  outline : none;
}

/* accueil */

.recette_jour, .recette_jour:hover{
  padding: 0;
  color: white;
}

.texte_recette_jour {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  padding: 20px 0;
  font-family: $font-text-light;
  h2{
    letter-spacing: 0.2em;
  }
}


/* dashboard */

.btn-outline-default{
  border: 2px solid $red !important;
  color: $red !important;
}

.card-title{
  padding: 1em 0;
  font-family: $font-text-light;
  font-size: 2em;
  color: $blue !important;
}

.custom-file-label:after{
  content: "Parcourir";
  background-color: $red;
  color: $light_grey;
}

.btn-red{
  background-color: $red !important;
}

.tooltip-inner {
  background-color: $red !important;
  /*!important is not necessary if you place custom.css at the end of your css calls. For the purpose of this demo, it seems to be required in SO snippet*/
  color: $light_grey;
}

.tooltip.left .tooltip-arrow {
  border-left-color: $red !important;
}

.form-control:focus {
  border-color: $red;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

/* boutons radio */

.difficulte{
  width: 193px;
}

.icone_difficulte{
  font-size: 1.5em;
  color: $red;
}

.icone_prix{
  padding: 0 10px;
  font-size: 1.2em;
  color: $red;
}
.icon-toque:before{
  font-weight: bold;
}

.regular-radio {
  display: none;
}

.regular-radio + label {
  -webkit-appearance: none;
  background-color:  $light_grey;
  border: 2px solid $red;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);*/
  padding: 9px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  position: relative;
}

.regular-radio:checked + label {
  background-color: $red;
  border: 1px solid $red;
  /*box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);*/
}

.regular-radio + label:active, .regular-radio:checked + label:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-radio:checked + label > span {
  color: white;
}

.red-border textarea {
  border: 1px solid $red;
}

//profil

.profil{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
}

/*Consultation recette */

.fond_recette{
  background-image: url("/img/fond_recette.png");
}

.fiche_recette{
  position: fixed;
  bottom: 0;
  top: 5em;
}




.infos_recette
h3{
  font-family: Montserrat, sans-serif;
  font-size: 1em;
}

.infos_recette span{
  font-family: "Open Sans", sans-serif;
}

.titre_recette{
  font-family: "Lato Thin", sans-serif;
  color : $red;
}

.row_haut_recette{
  height: 50px;
}


//dashboard admin

.dashboard_admin{
  display: grid;
  grid-template-columns: 1fr 5fr;
  background-color: $light_grey;
  a{
    color: $light_grey;
  }
  a:hover{
    color: $dark_grey;
  }
}

.menu_admin{
  background-color: $red;
  ul{
    color: $light_grey;
    list-style: none;
  }
  li{
    font-family: $font-text;
  }
  h4{
    font-family: $font-titre;
    color: $light_grey;
    border-bottom: 1px $light_grey solid;
  }
}

.titre_dashboard_admin{
  background-color: $blue;
  color: $light_grey;
  font-family: $font-titre;
}

.details_dashboard_admin{
  background-color: $light_grey;
}

